.button {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0066FF;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 16px;
  cursor: pointer;
}