.v-field__input {
  --v-field-padding-start: 16px;
  --v-field-padding-end: 16px;
  --v-field-input-padding-top: 12px;
  --v-field-input-padding-bottom: 12px;
  --v-high-emphasis-opacity: 0.87;
  --v-input-control-height: 44px;
}

.v-field__control {
  border-radius: 12px;
}

.v-field__field {
  height: 44px;
}